[Unit]
Description=Novus SNMP Agent
After=network.target
StartLimitIntervalSec=30
StartLimitBurst=2

[Service]
Type=simple
ExecStart=/usr/bin/ns-agent
Restart=always
RestartSec=5s

StateDirectory=ns
StateDirectoryMode=0777

[Install]
WantedBy=multi-user.target
