Package: ns-agent-dbgsym
Source: ns-agent
Version: 2.0.2
Auto-Built-Package: debug-symbols
Architecture: arm64
Maintainer: Jacob Owens <jowens@novuspower.com>
Installed-Size: 107
Depends: ns-agent (= 2.0.2)
Section: debug
Priority: optional
Description: debug symbols for ns-agent
Build-Ids: fbbc5459b2d0d53c0e19b90f2e9ece104c0e5e05
